.container {
    height: 100vh;
    background-color: rgb(96, 112, 212);
}

.container-pesquisa {
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
}

.titulo-descricao {
    margin: 2rem 0 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.pesquisa {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.pesquisa input {
    padding: 0.75rem 0.5rem;
    border-radius: 0.5rem;
    border: 3px solid rgb(92, 182, 194);
    outline: none;
    width: 300px;
    font-size: 1.25rem;
}

.pesquisa button {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: rgb(3, 97, 144);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.pesquisa button:hover {
    background-color: rgb(4, 57, 83);
}


